@media (min-width: 568px) and (max-width: 960px) {

}

@media (min-width:960px) and (max-width: 1280px) {

/*HOME*/
	#home .tagline {text-align: center;}
}

@media only screen and (min-width:320px) {

	.h2-gray {color: #444;}
	.h3-gray {color: #fff; font-size: 18px;}
	.p-gray {color: #444;}

/*HOME*/
	#home .tagline >h1 {text-align: center; font-size: 5em;}
	#home .tagline >h3 {font-weight: 300; padding-bottom: 0.5em; font-size: 1em; line-height: 1.5em;}
	#home .arrow {margin-bottom: 5em; position: relative; left: 41%; color: #fff; background: none !important; border: 2px solid #fff; border-radius: 50%; width: 50px; height: 50px;}
	#home .arrow >i {font-size: 1.8em; position: absolute; padding-top: 0.1em;}

/*SERVICES*/
	#services {background: #444;}
	#services .service-title {text-align: center; padding-top: 30px;}
	#services .service-title >p {text-align: center;}
	#services .list {font-size: 0.9em; position: relative; width: 180px; height: 180px; left: 13%; margin-bottom: 5em;}
	#services .read-more {left: 13%; margin-top: 0;}

/*PORTFOLIO*/
	#portfolio .item >img {height: 250px;}

/*ABOUT*/
	#about .about-title {padding-top: 5em;}
	#about .read-more {position: relative; left: 10%;}

/*CONTACT*/
	#contact .contact-title {padding-bottom: 0.5em;}
	#contact .contact-form {float: left; width: 240px; height: 325px;}
	#contact .contact-info {float: left; position: relative; margin-bottom: 3em;}
	#contact .contact-info >h2 {position: relative; margin-top: 1.5em; padding-bottom: 0.8em;}

/*FOOTER*/
	#footer-holder .copyright {text-align: center;}
	#footer-holder .sc >li {position: relative;float: left; margin-left: 1em;}
}

@media only screen and (max-width: 1840px) {
	h1 {font-weight: 300;}

/*HOME*/
	#home .tagline {font-weight: 300; padding-top: 17em; padding-bottom: 7em; text-align: center;}
	#home .tagline >h1 {font-size: 10em;}
	#home .tagline >h3 {line-height: 1.5em; font-weight: 300; font-size: 1.5em;}
	#home .arrow {left: 48%; background: transparent; border-radius: 50%; width: 55px; height: 55px; border: 2px solid; position: relative; margin-bottom: 15em;}
	#home .arrow >i {font-size: 30px; position: absolute; margin-top: 0.4em;}
	#home .arrow-effects {text-decoration: none; color: #fff;}

/*SERVICES*/

	#services .service-title {padding-top: 8em; padding-bottom: 5em; text-align: center; color: #444;}
	#services .service-title >i {font-size: 30px; font-weight: 300;}
	#services .service-title >p {line-height: 1.7em; padding-bottom: 2em;}
	#services .flaticons {padding-bottom: 5em;}
	#services .list {left: 18%; margin-right: 5em; position: relative; margin-bottom: 2em; background: #1EA062; border-radius: 50%; width: 200px; height: 200px; text-align: center;}
	#services .list-icons {font-size: 9.5em;}
	#services .cat-name >h4 {margin-top: 1.5em;}
	#services .read-more {left: 42%; margin-top: 3em; margin-bottom: 5em; position: relative; background: rgb(204, 81, 81); font-weight: 400; font-size: 1em; padding: 0.8em; width: 14em; color: #fff;}
	#services .read-more >i {margin-left: -0.5em; background: rgb(170, 56, 56); font-size: 1.5em; padding: 0.5em;}
	#services .read-more >a {color: #fff; margin-left: 2em; text-decoration: none;}
	#services .read-more >a:hover {color: #444;}
	#services .side-photo {padding-top: 8em;}

/*PORTFOLIO*/
	#portfolio {padding: 0;}
	#portfolio .item >img {height: 700px;}

/*ABOUT*/
	#about .about-title {padding-top: 10em; padding-bottom: 15em; text-align: left; color: #444;}
	#about .about-title >i {font-size: 30px; font-weight: 300;}
	#about .about-title >p {line-height: 1.7em; padding-bottom: 2em;}
	#about .read-more {background: rgb(204, 81, 81); font-weight: 400; font-size: 1em; padding: 0.8em; width: 14em; color: #fff;}
	#about .read-more >i {margin-left: -0.5em; background: rgb(170, 56, 56); font-size: 1.5em; padding: 0.5em;}
	#about .read-more >a {color: #fff; margin-left: 2em; text-decoration: none;}
	#about .read-more >a:hover {color: #444;}
	#about .side-photo {padding-top: 8em;}

/*CONTACT*/
	#contact .contact-title {padding-top: 8em; padding-bottom: 5em; text-align: center; color: #444;}
	#contact .contact-title >i {font-size: 30px; font-weight: 300;}
	#contact .contact-title >p {line-height: 1.7em; padding-bottom: 2em;}
	#contact .contact-user { padding-bottom: 5em;}
	#contact .contact-form {background: #1EA062; width: 400px; height: 350px; padding-top: 3em; position: relative;}
	#contact .contact-form .message {height: 15em;}
	#contact .contact-info {float: right;}
	#contact .contact-info >h2 {padding-bottom: 1.5em;}
	#contact .contact-details {padding-bottom: 2em;}
	#contact .cons {margin-right: 0.5em; text-align: center; font-size: 2em; background: rgb(204, 81, 81); border-radius: 20%;}
	#contact .cons >i {padding: 0.4em;}
	#contact .add-info {line-height: 1.5em; position: absolute; color: #444; font-weight: 400;}
	#contact .mail {margin-right: 0.5em; text-align: center; font-size: 2em; background: rgb(204, 81, 81); border-radius: 50%;}
	#contact .mail >i {padding: 0.4em;}

/*FOOTER*/
	#footer-holder {background: #1EA062; padding-top: 1em;}
	#footer-holder .copyright {position: relative; padding: 0.4em;}
	#footer-holder .sc >li {padding: 0; text-align: center; margin-left: 0.5em; list-style-type: none; float: right; font-size: 1.5em;}
	#footer-holder .sc >li >a {color: #fff;}
	#footer-holder .sc >li >a:hover {text-decoration: none; color: #444;}
}
