body {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h1 {font-size: 120px;}

h2 {font-size: 30px; }
.h2-gray {color: #444;}
.h2-gray-b {font-family: 'Bebas'; color: #444;}

h3 {font-size: 26px;}
.h3-gray {color: #444;}
.h3-gray-b {font-family: 'Bebas'; color: #444;}

h4 {font-size: 20px;}
.h4-gray {color: #444;}

h5 {font-size: 16px;}
.h5-gray {color: #444;}

p, {font-size: 14px;}
.p-gray {color: #444;}

/*NAVBAR*/
.navbar {min-height: 65px;}
.navbar-default {border-radius: 0; color: #444; position: fixed; width: 100%; z-index: 2;}
.navbar-right {float: right; padding: 0.5em; font-weight: 400;}
.nav > li > a {padding: 14px 15px; }
.nav-pills > li > a {color: #444;}
.nav-pills > li > a:hover {font-weight: 400; background: #1EA062; color: #fff; border-radius: 0;}

/*CONTACT FORM*/

.form-control {position: relative; margin-bottom: 1em;}
.btn-lg {background: rgb(204, 81, 81) !important; border-radius: 0; float: right;}

.carousel {position: relative;}